{% extends "app/base.html" %}
{%load static%}
{% block content %}



<img src="{% static 'img/logo.png' %}" width="60%" height="40%" />
<div class="row">
    <div class="col-sm-4 mb-4">
        <h4 class="mb-3">INFORMATION</h4>
        <p>
            <i class="fas fa-laptop-code mr-2"></i>
            <span class="font-weight-bolder">SKILLS : </span>
            {{ work_data.skill }}
        </p>
        <hr>
        <p>
            <i class="fab fa-github mr-2"></i>
            <span class="font-weight-bolder">GITHUB : </span>
            {% if work_data.url %}
                <a class="link-color" href="{{ work_data.url }}" target="_blank">Link</a>
            {% else %}
                Private
            {% endif %}
        </p>
        <hr>
        <p>
            <i class="far fa-calendar-alt mr-2"></i>
            <span class="font-weight-bolder">CREATED : </span>
            {{ work_data.created }}
        </p>
        <hr>

        <p>
            <i class="fa-brands fa-adn"></i>
            <span class="font-weight-bolder">HOMEPAGE : </span>
            <a class="link-color" href="{{ work_data.heroku }}" target="_blank">Link</a>

        </p>
        <hr>
    </div>
    <div class="col-sm-8 mb-5">
        <h4 class="mb-3">PROJECT DESCRIPTION</h4>
        <p>{{ work_data.description|linebreaksbr }}</p>
    </div>
</div>

{% endblock %}