{% extends "app/base.html" %}
{%load static%}
{% block content %}

<div class="card top d-flex flex-column justify-content-end mb-4">
    <img src="{% static 'img/empty-sea-and-beach-background.jpg' %}" border="0" />
    <div class="overlay text-white p-5">
        <h1 class="title">{{ profile_data.title }}</h1>

    </div>
</div>

<div class="row mb-5">
    {% for work in work_data %}
        <div class="col-6 col-md-3 mb-3">
            <div class="card work-thumbnail">
                    <img src="{% static 'img/logo.png' %}" width="60%" height="60%"/>

                <div class="work-title text-center">
                    <p class="mb-0">{{ work.title }}</p>
                </div>
                <a class="stretched-link work" href="{% url 'detail' work.id %}"></a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}